# Default ignored files
idea/shelf/
idea/workspace.xml
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/example/laboratorio3/MainActivity.java
.idea/deploymentTargetDropDown.xml
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
.project
.idea/misc.xml
app/.settings/org.eclipse.buildship.core.prefs
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.app/build
